openapi: 3.0.1
info:
  title: Order Information Management
  x-digitalapi-summary: Retrieve list of orders and details of order
  description: |
    Retrieve list of customer orders and details of customer order along with customer details.
    * [API Functional Mapping](https://jio.ril.com/sites/systems/design/_layouts/15/WopiFrame.aspx?sourcedoc=/sites/systems/design/Shared%20Documents/04.%20E2E%20Architecture%20and%20Solutions/02.%20Macro%20Design%20Documents/Functional%20Mappings/OrderInformationManagement.xls&action=default)
    * [Web Service Definition(WSDL)](https://devops.jio.com/JioMobilityAndEnterprise/DigitalAPI_Retail/_git/webservice-spec?path=%2Fretail%2Ffulfillment%2Fprocess-customer-order%2Fcustomer-order-management%2Fcustomer-order-management-v-3.24%2FCustomerOrderManagementConcreteV3dot23.wsdl&version=GBmaster&_a=contents)
    ### Note:
    * API Spec is aligned with Functional Mapping Version v136.
    * [ Web Service API (SOAP/HTTP) ](https://digitalapi.developers.jio.com/api-details#api=customerordermanagement) : This Service binding avaiable only for backward campatability, Recommended to use REST Binding through OpenAPI Spec for new service consumer instead of SOAP/HTTP.
    * [Other Service Bindings Details](https://wiki.jio.com/xwiki/bin/view/Digital%20API%20Management/APIs/Fulfillment/Process%20Customer%20Order/Order%20Information%20Management)
    ### Changelog:
    Feature #1662459: MNP 9th Amendment : UPC rejection in case of SIM Swap (Retail)+
    
    Feature #1665729: MNP 9th Amendment : UPC rejection in case of SIM Swap (Enterprise)
    
    Updated findOrder
    - Added elements in request: statusUpdateDateTime, orderScenario
    - Added characteristic in response: RESOURCE_REASON_CODE
    - added tracker "find Completed Orders of a particular type for a date range"
  version: 1.0.0
  x-digitalapi-domain: Mobility
  x-digitalapi-subjectarea: Fulfillment
  x-digitalapi-application: Process Customer Order
  x-tm-forum-domain: Customer   
  x-tm-forum-application: TMF622 Product Ordering Management API  
  x-tm-forum-application-summary: Provides a standardized mechanism for placing a product order with all the necessary order parameters. The API consists of a simple set of operations that interact with CRM/Order negotiation systems in a consistent manner. A product order is created based on a product offering that is defined in a catalog. The product offering identifies the product or set of products that are available to a customer and includes characteristics such as pricing, product options and market.
  x-digitalapi-functional-mapping-url: https://jio.ril.com/sites/systems/design/_layouts/15/WopiFrame.aspx?sourcedoc=/sites/systems/design/Shared%20Documents/04.%20E2E%20Architecture%20and%20Solutions/02.%20Macro%20Design%20Documents/Functional%20Mappings/OrderInformationManagement.xls&action=default
  x-digitalapi-functional-mapping-version: v136
  contact:
    name: JioDigital O2ADevTeam
    email: JioDigital.O2ADevTeam@ril.com
  # x-digitalapi-descriptor:
  #   $ref: ./order-information-management-service-api-descriptor.yaml
servers:
  - url: https://digitalapi.gateway1.jio.com/digitalapi/fulfillment/order/info/management/v1
tags:
  - name: Process Customer Order
paths:
  /findOrder:
    post:
      tags:
        - Order Information Management Service
      summary: Find Order operation retrieves the list of orders with specific order details.
      description: |
        Retrieve list of customer orders </br>
        * Service/Operation Binding - REST
        * [Web Service Binding Details (SOAP/HTTP)](https://digitalapi.developers.jio.com/api-details#api=customerordermanagement&operation=5f9fd999456a7d1958f1e3a4)
      operationId: findOrder
      parameters:
        - $ref: "#/components/parameters/ChannelId"
        - $ref: "#/components/parameters/JioRoute"
      requestBody:
        description: Service Request Body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindOrderRequest"
            examples:
              FindOrder with customerID only:
                value:
                  customerId: "1000038442"
                  paging:
                    offSet: "0"
                    pageSize: "10"
              FindOrder with customerid + orderType + daterange:
                value:
                  customerId: "1000038442"
                  dataRecord: 
                    dateFrom: "2019-03-05T19:31:13"
                    toDate: "2029-03-26T19:31:13"
                  orderStatus: "Z05"
                  orderType: 
                    - "01"
                    - "02"
                    - "03"
                  paging:
                    offSet: "0"
                    pageSize: "10"
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindOrderResponse"
              examples:
                FindOrder with customerID only:
                  value:
                    customerOrder:
                    - order:
                      - channelId: '01'
                        characteristics:
                        - name: PRODUCT_CODE_1
                          value: P10016
                        - name: PRODUCT_NAME_1
                          value: Volte-VVM-Data|Volte-VVM-Data
                        - name: ORDER_COMPLETION_DTM
                          value: '20190325193836'
                        customerId: '1000038442'
                        orderEntryTimeStamp: '2019-03-25T19:31:13'
                        orderNumber: '1000134068'
                        orderRefNo: CO000003NENK
                        orderScenario: '103'
                        orderStatus: Z05
                        orderType: '03'
                      - channelId: '01'
                        characteristics:
                        - name: ACTIVATION_DATE_TIME
                          value: '20190307053017'
                        - name: PRODUCT_CODE_1
                          value: P10009
                        - name: PRODUCT_NAME_1
                          value: WIFI Addon|WIFI Hot Spot Access for Conn
                        - name: PRODUCT_CODE_2
                          value: P10016
                        - name: PRODUCT_NAME_2
                          value: Volte-VVM-Data|Volte-VVM-Data
                        - name: ORDER_COMPLETION_DTM
                          value: '20190307053509'
                        customerId: '1000038442'
                        orderEntryTimeStamp: '2019-03-07T05:30:50'
                        orderNumber: '1000133053'
                        orderRefNo: NO000008WATG
                        orderScenario: '100'
                        orderStatus: Z05
                        orderType: '01'
                    resultStatus:
                      status: SUCCESS
                    totalNumberOfRecords: '2'

                FindOrder with customerid + orderType + daterange:
                  value:
                    customerOrder:
                    - corporateOrder: {}
                      order:
                      - channelId: '01'
                        characteristics:
                        - name: PRODUCT_CODE_1
                          value: P10016
                        - name: PRODUCT_NAME_1
                          value: Volte-VVM-Data|Volte-VVM-Data
                        - name: ORDER_COMPLETION_DTM
                          value: '20190325193836'
                        customerId: '1000038442'
                        orderEntryTimeStamp: '2019-03-25T19:31:13'
                        orderNumber: '1000134068'
                        orderRefNo: CO000003NENK
                        orderScenario: '103'
                        orderStatus: Z05
                        orderType: '03'
                      - channelId: '01'
                        characteristics:
                        - name: ACTIVATION_DATE_TIME
                          value: '20190307053017'
                        - name: PRODUCT_CODE_1
                          value: P10009
                        - name: PRODUCT_NAME_1
                          value: WIFI Addon|WIFI Hot Spot Access for Conn
                        - name: PRODUCT_CODE_2
                          value: P10016
                        - name: PRODUCT_NAME_2
                          value: Volte-VVM-Data|Volte-VVM-Data
                        - name: ORDER_COMPLETION_DTM
                          value: '20190307053509'
                        customerId: '1000038442'
                        orderEntryTimeStamp: '2019-03-07T05:30:50'
                        orderNumber: '1000133053'
                        orderRefNo: NO000008WATG
                        orderScenario: '100'
                        orderStatus: Z05
                        orderType: '01'
                    resultStatus:
                      status: SUCCESS
                    totalNumberOfRecords: '2'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonErrorResponse"
              example:
                resultStatus:
                  status: FAILED
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonErrorResponse'
              example:
                resultStatus:
                  status: FAILED
                  errorCode: '401'
                  errorMessage: Unauthorized
        "default":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonErrorResponse"
              example:
                resultStatus:
                  status: FAILED
  /queryOrder:
    post:
      tags:
        - Order Information Management Service
      summary: Query Order operation retrieves complete details of order.
      description: |
        Retrieve details of customer order with customer details
        * Service/Operation Binding - REST
        * [Web Service Binding Details (SOAP/HTTP)](https://digitalapi.developers.jio.com/api-details#api=customerordermanagement&operation=5f9fd999456a7d1958f1e3a5)
      operationId: queryOrder
      parameters:
        - $ref: "#/components/parameters/ChannelId"
        - $ref: "#/components/parameters/JioRoute"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryOrderRequest"
            examples:
              ByOrderByRefNo:
                value:
                  orderRefNo: "NO00000B8VD1"
                  orderType: "01"
                  channelId: "20"
                  returnCompleteOrder: "1"
              ByServiceId:
                value:
                  identifier:
                    value: "7020141499"
                  channelId: "20"
                  returnCompleteOrder: "1"
              Return Order Details with CAF and Customer details:
                value:
                  callingPartyNumber: "+917012140673"
                  channelId: "20"
                  identifier:
                    value: "7012140673"
                  returnCompleteOrder: "2"
              Return Order details with CAF and Plan Offering Details:
                value:
                  callingPartyNumber: "+917012142357"
                  channelId: "20"
                  identifier:
                    value: "7012142357"
                  returnCompleteOrder: "3"
              Return Order details with CAF, Customer details and Plan Offering Details: 
                value:
                  callingPartyNumber: "+917012142357"
                  channelId: "20"
                  identifier:
                    value: "7012142357"
                  returnCompleteOrder: "4"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryOrderResponse"
              examples:
                ByOrderRefNo:
                  value:
                    resultStatus:
                      status: SUCCESS
                    customerOrder:
                      order:
                        - orderRefNo: NO00000B8VD1
                          orderType: "01"
                          orderScenario: "100"
                          orderNumber: "1000162846"
                          orderEntryTimeStamp: "2020-09-01T11:44:53.0000000+00:00"
                          orderStatus: Z02
                          eligibleForCancellation: "N"
                          customerId: "1020003105"
                          circleId: MH
                          channelId: "30"
                          settlementInitiated: "N"
                          preferredActivationDate: "2020-09-01T00:00:00.0000000+00:00"
                          customer:
                            customerId: "1020003105"
                          paymentDetails:
                            modeOfPayment: "01"
                            totalAmountPayable: "600.00"
                            instrumentDate: "0"
                          address:
                            - id: "0002135649"
                              type: SHIP_TO
                              houseName: "60"
                              buildingName: Royal Society
                              area: Khasra
                              street: Belapur Road
                              landmark: New English School
                              pinCode: "493118"
                              city: Bhatapara
                              district: Pune
                              state: MH
                              country: IN
                              jioCenterId: I152
                          account:
                            - accountId: "100000050210"
                              accountType: "1"
                              subscriptionType: "1"
                              companyCode: ZW2
                              billingDetails:
                                billPreference:
                                  language: EN
                                  deliverAt: SHIP_TO
                                  itemized: "true"
                                  presentationMedia:
                                    name:
                                      - "01"
                                autoPayment:
                                  paymentMethod: Credit Card

                          cafDetails:
                            proof:
                              - id: APC
                                type: Z00091
                                number: "0"
                                placeOfIssue: "19.1253839,73.0141285"
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: ATP
                                type: Z00092
                                number: "154715"
                                placeOfIssue: "19.1259275,73.0139004"
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: OTP
                                type: Z00092
                                number: "103684"
                                placeOfIssue: "19.1259275,73.0139004"
                                issuingAuthority: "+919334562460"
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: PIC
                                type: Z00091
                                number: "0"
                                placeOfIssue: "19.1259275,73.0139004"
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: POA
                                type: Z00007
                                number: ZMH4872731273
                                issuingAuthority: Government of India (GOI)
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: POI
                                type: Z00007
                                number: ZMH4872731273
                                issuingAuthority: Government of India (GOI)
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                          approvalDetails:
                              activityName: Activation_Approval
                              log: approved
                              activityCode: PSIM_DEL_INPROGRESS
                          productOffering:
                            - id: "1405323"
                              name: "PRIME + iPhone 799|Benefits: Free Voice,"
                              ewalletReservationRefId: "45967745"
                              lineItemNo: "0000000010"
                              parentLineItemNo: "0000000000"
                              planOffering:
                                - id: "1006469"
                              billingType: "1"
                              product:
                                - id: P10009
                                  name: WIFI Addon|WIFI Hot Spot Access for Conn
                                  status: Z017
                                  lineItemNo: "0000000020"
                                  parentLineItemNo: "0000000010"
                                  bssCorrelationId: "0000000020"
                                  businessInteraction:
                                    name: "11"
                                    componentPrice:
                                      price: "0.00"
                                      id: "4546"
                                  isTelverificationRequired: "0"
                                  teleVerificationStatus: Z111
                                  billingType: "1"
                                  dependencyInfo:
                                    parentProductId: "1405323"
                                  identifier:
                                    - name: R4GID
                                      value: "916186402297"
                                      type: S1
                                      category: "4"
                                      subCategory: "2"
                                      componentPrice:
                                        price: "0.00"
                                        id: "4546"
                                  service:
                                    - id: S10009
                                      name: WIFI Hot Spot Addon|WIFI Hot Spot Addon
                                      serviceType: Z0006
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: R4GID
                                        value: "916186402297"
                                        category: "2"
                                        subCategory: "3"
                                      lineItemNo: "0000000030"
                                      parentLineItemNo: "0000000020"
                                  characteristics:
                                    - name: PROD_CATEGORY
                                      value: "04"
                                    - name: TELE_MARKETING_PREFERENCE
                                      value: "0"
                                    - name: CUSTOMER_CATEGORY
                                      value: "0001"
                                    - name: NATIONALITY
                                      value: IN
                                    - name: MOBILE_NUMBER
                                      value: "+919334562460"
                                    - name: EMAIL
                                      value: AutEzVXSSxJp@QWY.com
                                    - name: ACTIVATION_DATE_TIME
                                      value: "20200901114415"
                                    - name: POI_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: POA_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: TV_PIN
                                      value: "16147"
                                    - name: DIGITAL_KYC_CATG
                                      value: O
                                    - name: ALT_MOB_RELATION
                                      value: "2"
                                    - name: ALT_CONTACT_TYPE
                                      value: "1"
                                    - name: OTP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: ATP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: APPROVAL_TYPE
                                      value: B
                                    - name: FACE_AUTH_RESP
                                      value: L
                                  componentPrice:
                                    - price: "0.00"
                                      id: "4546"
                                - id: P10016
                                  name: Volte-VVM-Data|Volte-VVM-Data
                                  type: "1"
                                  status: Z017
                                  lineItemNo: "0000000060"
                                  parentLineItemNo: "0000000010"
                                  bssCorrelationId: "0000000060"
                                  businessInteraction:
                                    name: "11"
                                    componentPrice:
                                      price: "0.00"
                                      id: "4546"
                                  callingPartyNumber: "7020141499"
                                  isTelverificationRequired: "1"
                                  teleVerificationStatus: Z101
                                  starterKitCode: "N"
                                  billingType: "1"
                                  cafNumber: MHH000CK54
                                  dependencyInfo:
                                    parentProductId: "1405323"
                                  identifier:
                                    - name: MSISDN
                                      value: "7020141499"
                                      type: S1
                                      category: "4"
                                      subCategory: "2"
                                      componentPrice:
                                        price: "0.00"
                                        id: "4546"
                                  service:
                                    - id: S40002
                                      name: Volte-Data|Volte-Data
                                      serviceType: Z0002
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: IMSI
                                        value: "405864888893340"
                                        category: "2"
                                        subCategory: "3"
                                      lineItemNo: "0000000070"
                                      parentLineItemNo: "0000000060"
                                    - id: S40001
                                      name: VVM|Voice Video Messaging
                                      serviceType: Z0003
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: MSISDN
                                        value: "917020141499"
                                        category: "2"
                                        subCategory: "3"
                                      feature:
                                        - id: S30001
                                          name: VOICE
                                          businessInteraction:
                                            name: "11"
                                          lineItemNo: 0000000100_S30001
                                          parentLineItemNo: "0000000100"
                                          feature:
                                            - id: F30001
                                              name: STD
                                              businessInteraction:
                                                name: "11"
                                              lineItemNo: 0000000100_S30001_F30001
                                              parentLineItemNo: 0000000100_S30001
                                      lineItemNo: "0000000100"
                                      parentLineItemNo: "0000000060"
                                  resource:
                                    - id: DEV100022
                                      name: VOLTE SIM|VOLTE SIM
                                      boqType: "9"
                                      lineItemNo: "0000000080"
                                      parentLineItemNo: "0000000060"
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        - name: ICCID
                                          value: "8991864101888893340"
                                        - name: IMSI
                                          value: "405864888893340"
                                      characteristics:
                                        - name: SKU_NUMBER
                                          value: "400000112"
                                  characteristics:
                                    - name: PROD_CATEGORY
                                      value: "01"
                                    - name: TELE_MARKETING_PREFERENCE
                                      value: "0"
                                    - name: CUSTOMER_CATEGORY
                                      value: "0001"
                                    - name: NATIONALITY
                                      value: IN
                                    - name: MOBILE_NUMBER
                                      value: "+919334562460"
                                    - name: EMAIL
                                      value: AutEzVXSSxJp@QWY.com
                                    - name: ACTIVATION_DATE_TIME
                                      value: "20200901114415"
                                    - name: POI_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: POA_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: TV_PIN
                                      value: "16147"
                                    - name: DIGITAL_KYC_CATG
                                      value: O
                                    - name: ALT_MOB_RELATION
                                      value: "2"
                                    - name: ALT_CONTACT_TYPE
                                      value: "1"
                                    - name: OTP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: ATP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: APPROVAL_TYPE
                                      value: B
                                    - name: FACE_AUTH_RESP
                                      value: L
                                  componentPrice:
                                    - id: "4546"
                              characteristics:
                                - name: TELE_MARKETING_PREFERENCE
                                  value: "0"
                          characteristics:
                            - name: CUSTOMER_CATEGORY
                              value: "0001"
                            - name: NATIONALITY
                              value: IN
                            - name: MOBILE_NUMBER
                              value: "+919334562460"
                            - name: EMAIL
                              value: AutEzVXSSxJp@QWY.com
                            - name: ACTIVATION_DATE_TIME
                              value: "20200901114415"
                            - name: POI_LAT_LONG
                              value: "19.1259275,73.0139004"
                            - name: POA_LAT_LONG
                              value: "19.1259275,73.0139004"
                            - name: TV_PIN
                              value: "16147"
                            - name: DIGITAL_KYC_CATG
                              value: O
                            - name: ALT_MOB_RELATION
                              value: "2"
                            - name: ALT_CONTACT_TYPE
                              value: "1"
                            - name: OTP_GEN_DTM
                              value: "2020-09-01T11:39:14.0000000+00:00"
                            - name: ATP_GEN_DTM
                              value: "2020-09-01T11:39:14.0000000+00:00"
                            - name: APPROVAL_TYPE
                              value: B
                            - name: FACE_AUTH_RESP
                              value: L
                            - name: ROUTING_ZONE
                              value: NO079
                ByServiceId:
                  value:
                    resultStatus:
                      status: SUCCESS
                    customerOrder:
                      order:
                        - orderRefNo: NO00000B8VD2
                          orderType: "01"
                          orderScenario: "100"
                          orderNumber: "1000162846"
                          orderEntryTimeStamp: "2020-09-01T11:44:53.0000000+00:00"
                          orderStatus: Z02
                          eligibleForCancellation: "N"
                          customerId: "1020003105"
                          circleId: MH
                          channelId: "30"
                          settlementInitiated: "N"
                          preferredActivationDate: "2020-09-01T00:00:00.0000000+00:00"
                          customer:
                            customerId: "1020003105"
                          paymentDetails:
                            modeOfPayment: "01"
                            totalAmountPayable: "600.00"
                            instrumentDate: "0"
                          address:
                            - id: "0002135649"
                              type: SHIP_TO
                              houseName: "60"
                              buildingName: Royal Society
                              area: Khasra
                              street: Belapur Road
                              landmark: New English School
                              pinCode: "493118"
                              city: Bhatapara
                              district: Pune
                              state: MH
                              country: IN
                              jioCenterId: I152
                          account:
                            - accountId: "100000050210"
                              accountType: "1"
                              subscriptionType: "1"
                              companyCode: ZW2
                              billingDetails:
                                billPreference:
                                  language: EN
                                  deliverAt: SHIP_TO
                                  itemized: "true"
                                  presentationMedia:
                                    name:
                                      - "01"
                                autoPayment:
                                  paymentMethod: Credit Card
                          cafDetails:
                            proof:
                              - id: APC
                                type: Z00091
                                number: "0"
                                placeOfIssue: "19.1253839,73.0141285"
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: ATP
                                type: Z00092
                                number: "154715"
                                placeOfIssue: "19.1259275,73.0139004"
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: OTP
                                type: Z00092
                                number: "103684"
                                placeOfIssue: "19.1259275,73.0139004"
                                issuingAuthority: "+919334562460"
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: PIC
                                type: Z00091
                                number: "0"
                                placeOfIssue: "19.1259275,73.0139004"
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: POA
                                type: Z00007
                                number: ZMH4872731273
                                issuingAuthority: Government of India (GOI)
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                              - id: POI
                                type: Z00007
                                number: ZMH4872731273
                                issuingAuthority: Government of India (GOI)
                                aadhaarTransDate: "2020-09-01T11:39:14.0000000+00:00"
                          approvalDetails:
                            activityName: Activation_Approval
                            log: approved
                            activityCode: PSIM_DEL_INPROGRESS
                          productOffering:
                            - id: "1405323"
                              name: "PRIME + iPhone 799|Benefits: Free Voice,"
                              ewalletReservationRefId: "45967745"
                              lineItemNo: "0000000010"
                              parentLineItemNo: "0000000000"
                              planOffering:
                                - id: "1006469"
                              billingType: "1"
                              product:
                                - id: P10009
                                  name: WIFI Addon|WIFI Hot Spot Access for Conn
                                  status: Z017
                                  lineItemNo: "0000000020"
                                  parentLineItemNo: "0000000010"
                                  bssCorrelationId: "0000000020"
                                  businessInteraction:
                                    name: "11"
                                    componentPrice:
                                      price: "0.00"
                                      id: "4546"
                                  isTelverificationRequired: "0"
                                  teleVerificationStatus: Z111
                                  billingType: "1"
                                  dependencyInfo:
                                    parentProductId: "1405323"
                                  identifier:
                                    - name: R4GID
                                      value: "916186402297"
                                      type: S1
                                      category: "4"
                                      subCategory: "2"
                                      componentPrice:
                                        price: "0.00"
                                        id: "4546"
                                  service:
                                    - id: S10009
                                      name: WIFI Hot Spot Addon|WIFI Hot Spot Addon
                                      serviceType: Z0006
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: R4GID
                                        value: "916186402297"
                                        category: "2"
                                        subCategory: "3"
                                      lineItemNo: "0000000030"
                                      parentLineItemNo: "0000000020"
                                  characteristics:
                                    - name: PROD_CATEGORY
                                      value: "04"
                                    - name: TELE_MARKETING_PREFERENCE
                                      value: "0"
                                    - name: CUSTOMER_CATEGORY
                                      value: "0001"
                                    - name: NATIONALITY
                                      value: IN
                                    - name: MOBILE_NUMBER
                                      value: "+919334562460"
                                    - name: EMAIL
                                      value: AutEzVXSSxJp@QWY.com
                                    - name: ACTIVATION_DATE_TIME
                                      value: "20200901114415"
                                    - name: POI_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: POA_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: TV_PIN
                                      value: "16147"
                                    - name: DIGITAL_KYC_CATG
                                      value: O
                                    - name: ALT_MOB_RELATION
                                      value: "2"
                                    - name: ALT_CONTACT_TYPE
                                      value: "1"
                                    - name: OTP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: ATP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: APPROVAL_TYPE
                                      value: B
                                    - name: FACE_AUTH_RESP
                                      value: L
                                  componentPrice:
                                    - price: "0.00"
                                      id: "4546"
                                - id: P10016
                                  name: Volte-VVM-Data|Volte-VVM-Data
                                  type: "1"
                                  status: Z017
                                  lineItemNo: "0000000060"
                                  parentLineItemNo: "0000000010"
                                  bssCorrelationId: "0000000060"
                                  businessInteraction:
                                    name: "11"
                                    componentPrice:
                                      price: "0.00"
                                      id: "4546"
                                  callingPartyNumber: "7020141499"
                                  isTelverificationRequired: "1"
                                  teleVerificationStatus: Z101
                                  starterKitCode: "N"
                                  billingType: "1"
                                  cafNumber: MHH000CK54
                                  dependencyInfo:
                                    parentProductId: "1405323"
                                  identifier:
                                    - name: MSISDN
                                      value: "7020141499"
                                      type: S1
                                      category: "4"
                                      subCategory: "2"
                                      componentPrice:
                                        price: "0.00"
                                        id: "4546"
                                  service:
                                    - id: S40002
                                      name: Volte-Data|Volte-Data
                                      serviceType: Z0002
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: IMSI
                                        value: "405864888893340"
                                        category: "2"
                                        subCategory: "3"
                                      lineItemNo: "0000000070"
                                      parentLineItemNo: "0000000060"
                                    - id: S40001
                                      name: VVM|Voice Video Messaging
                                      serviceType: Z0003
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: MSISDN
                                        value: "917020141499"
                                        category: "2"
                                        subCategory: "3"
                                      feature:
                                        - id: S30001
                                          name: VOICE
                                          businessInteraction:
                                            name: "11"
                                          lineItemNo: 0000000100_S30001
                                          parentLineItemNo: "0000000100"
                                          feature:
                                            - id: F30001
                                              name: STD
                                              businessInteraction:
                                                name: "11"
                                              lineItemNo: 0000000100_S30001_F30001
                                              parentLineItemNo: 0000000100_S30001
                                      lineItemNo: "0000000100"
                                      parentLineItemNo: "0000000060"
                                  resource:
                                    - id: DEV100022
                                      name: VOLTE SIM|VOLTE SIM
                                      boqType: "9"
                                      lineItemNo: "0000000080"
                                      parentLineItemNo: "0000000060"
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        - name: ICCID
                                          value: "8991864101888893340"
                                        - name: IMSI
                                          value: "405864888893340"
                                      characteristics:
                                        - name: SKU_NUMBER
                                          value: "400000112"
                                  characteristics:
                                    - name: PROD_CATEGORY
                                      value: "01"
                                    - name: TELE_MARKETING_PREFERENCE
                                      value: "0"
                                    - name: CUSTOMER_CATEGORY
                                      value: "0001"
                                    - name: NATIONALITY
                                      value: IN
                                    - name: MOBILE_NUMBER
                                      value: "+919334562460"
                                    - name: EMAIL
                                      value: AutEzVXSSxJp@QWY.com
                                    - name: ACTIVATION_DATE_TIME
                                      value: "20200901114415"
                                    - name: POI_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: POA_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: TV_PIN
                                      value: "16147"
                                    - name: DIGITAL_KYC_CATG
                                      value: O
                                    - name: ALT_MOB_RELATION
                                      value: "2"
                                    - name: ALT_CONTACT_TYPE
                                      value: "1"
                                    - name: OTP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: ATP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: APPROVAL_TYPE
                                      value: B
                                    - name: FACE_AUTH_RESP
                                      value: L
                                  componentPrice:
                                    - id: "4546"
                              characteristics:
                                - name: TELE_MARKETING_PREFERENCE
                                  value: "0"
                          characteristics:
                            - name: CUSTOMER_CATEGORY
                              value: "0001"
                            - name: NATIONALITY
                              value: IN
                            - name: MOBILE_NUMBER
                              value: "+919334562460"
                            - name: EMAIL
                              value: AutEzVXSSxJp@QWY.com
                            - name: ACTIVATION_DATE_TIME
                              value: "20200901114415"
                            - name: POI_LAT_LONG
                              value: "19.1259275,73.0139004"
                            - name: POA_LAT_LONG
                              value: "19.1259275,73.0139004"
                            - name: TV_PIN
                              value: "16147"
                            - name: DIGITAL_KYC_CATG
                              value: O
                            - name: ALT_MOB_RELATION
                              value: "2"
                            - name: ALT_CONTACT_TYPE
                              value: "1"
                            - name: OTP_GEN_DTM
                              value: "2020-09-01T11:39:14.0000000+00:00"
                            - name: ATP_GEN_DTM
                              value: "2020-09-01T11:39:14.0000000+00:00"
                            - name: APPROVAL_TYPE
                              value: B
                            - name: FACE_AUTH_RESP
                              value: L
                            - name: ROUTING_ZONE
                              value: NO079
                Return Order Details with CAF and Customer details:
                  value:
                    resultStatus:
                      status: SUCCESS
                    customerOrder:
                      order:
                        - account:
                            - accountId: "500000053446"
                              accountType: "1"
                              companyCode: ZS1
                              subscriptionType: "1"
                              billingDetails:
                                billPreference:
                                  language: EN
                                  deliverAt: SHIP_TO
                                  itemized: "true"
                                  presentationMedia:
                                    name:
                                      - "01"
                                autoPayment:
                                  paymentMethod: Credit Card
                          address:
                            - area: Kozhikode
                              buildingName: Royal Society
                              city: KOZHIKODE
                              country: IN
                              district: KOZHIKODE
                              houseName: "60"
                              id: "0002191046"
                              jioCenterId: I774
                              landmark: New English School
                              pinCode: "670003"
                              state: KL
                              street: Belapur Road
                              type: SHIP_TO
                          cafDetails:
                            agentDetail:
                              agentId: "99887727"
                              name: Ramesh Naik
                            customerDeclarationDate: 2023-09-06
                            customerDeclarationPlace: KOZHIKODE
                            log:
                              "ActivityName:AOApproval TimeCompleted:2023-09-06T16:08:.050+05:30
                              UserName:55028073 "
                            merchantCode: I778
                            proof:
                              - aadhaarTransDate: 2023-09-06T16:00:40
                                id: APC
                                number: "0"
                                placeOfIssue: 19.1253839,73.0141285
                                type: Z00091
                              - aadhaarTransDate: 2023-09-06T16:00:40
                                id: ATP
                                issuingAuthority: "8975387638"
                                number: "162740"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00092
                              - aadhaarTransDate: 2023-09-06T16:00:40
                                id: OTP
                                issuingAuthority: "+919058994122"
                                number: "155475"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00092
                              - aadhaarTransDate: 2023-09-06T16:00:40
                                id: PIC
                                number: "0"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00091
                              - aadhaarTransDate: 2023-09-06T16:00:40
                                id: POA
                                issuingAuthority: Government of India (GOI)
                                number: ZMH4626238962
                                type: Z00007
                              - aadhaarTransDate: 2023-09-06T16:00:40
                                id: POI
                                issuingAuthority: Government of India (GOI)
                                number: ZMH4626238962
                                type: Z00007
                          channelId: "30"
                          characteristics:
                            - name: CUSTOMER_CATEGORY
                              value: "0001"
                            - name: NATIONALITY
                              value: IN
                            - name: MOBILE_NUMBER
                              value: "+917012140673"
                            - name: EMAIL
                              value: AutEsovMhQjf@nym.com
                            - name: ACTIVATION_DATE_TIME
                              value: "20230906160850"
                            - name: POI_LAT_LONG
                              value: 19.1259275,73.0139004
                            - name: POA_LAT_LONG
                              value: 19.1259275,73.0139004
                            - name: TV_PIN
                              value: "13758"
                            - name: DIGITAL_KYC_CATG
                              value: O
                            - name: ALT_MOB_RELATION
                              value: "2"
                            - name: ALT_CONTACT_TYPE
                              value: "1"
                            - name: OTP_GEN_DTM
                              value: 2023-09-06T16:00:40
                            - name: ATP_GEN_DTM
                              value: 2023-09-06T16:00:40
                            - name: APPROVAL_TYPE
                              value: B
                            - name: FACE_AUTH_RESP
                              value: L
                            - name: ROUTING_ZONE
                              value: SO012
                          circleId: KL
                          customer:
                            addresses:
                              - area: Kozhikode
                                buildingName: Royal Society
                                city: KOZHIKODE
                                country: IN
                                district: KOZHIKODE
                                houseName: "60"
                                id: "0002191044"
                                jioCenterId: I774
                                landmark: New English School
                                pinCode: "670003"
                                state: KL
                                street: Belapur Road
                                type: PER_ADD
                            association:
                              firstName: AutRelFCMFVdnIwrY
                              relationshipType: "0001"
                            characteristics:
                              - name: EKYC_REVERIFICATION
                                value: "01"
                            contactDetails:
                              alternateContactNoWork: "+919058994122"
                              contactNo: "+917012140673"
                              emailId: AutEsovMhQjf@nym.com
                            customerId: "5000044937"
                            customerName:
                              firstName: AutFkqFPEdhNNP
                              salutation: "0002"
                            customerStatus: CUSA
                            dateOfBirth: 1969-03-10
                            gender: "2"
                            identifications:
                              - number: P10016
                                type: ZPRDID
                              - expiryDate: 9999-12-31
                                issueDate: 2023-09-06
                                number: "2020025302"
                                type: Z00094
                              - expiryDate: 9999-12-31
                                issueDate: 2023-09-06
                                number: "4020013449"
                                type: Z00095
                            nationality: IN
                            organization: {}
                            preferredLanguage: EN
                            segment:
                              - name: CUSTOMER_CATEGORY
                                value: "0001"
                              - name: "15"
                                value: "040001"
                          customerId: "5000044937"
                          eligibleForCancellation: "N"
                          orderEntryTimeStamp: 2023-09-06T16:09:01
                          orderNumber: "5000198497"
                          orderRefNo: NO00000BBW3S
                          orderScenario: "100"
                          orderStatus: Z05
                          orderType: "01"
                          paymentDetails:
                            modeOfPayment: "01"
                            totalAmountPayable: "600.00"
                          posAgentCode: "99887727"
                          preferredActivationDate: 2023-09-06T00:00:00
                          settlementInitiated: "N"
                Return Order details with CAF and Plan Offering Details:
                  value:
                    resultStatus:
                      status: SUCCESS
                    customerOrder:
                      order:
                        - account:
                            - accountId: "510000045600"
                              accountType: "1"
                              companyCode: ZS1
                              subscriptionType: "1"
                              billingDetails:
                                billPreference:
                                  language: EN
                                  deliverAt: SHIP_TO
                                  itemized: "true"
                                  presentationMedia:
                                    name:
                                      - "01"
                                autoPayment:
                                  paymentMethod: Credit Card
                          address:
                            - area: Khasra
                              buildingName: Royal Society
                              city: KOZHIKODE
                              country: IN
                              district: KOZHIKODE
                              houseName: "60"
                              id: "0002180449"
                              landmark: New English School
                              pinCode: "670003"
                              state: KL
                              street: Belapur Road
                              type: SHIP_TO
                          cafDetails:
                            agentDetail:
                              name: Ramesh Naik
                            customerDeclarationDate: "2023-06-06"
                            customerDeclarationPlace: KOZHIKODE
                            log: "ActivityName: Self Approved through OTP TimeCompleted: 2023-06-06T09:34:42 "
                            proof:
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: APC
                                number: "0"
                                placeOfIssue: 19.1253839,73.0141285
                                type: Z00091
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: ATP
                                issuingAuthority: "8975387638"
                                number: "157019"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00092
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: OTP
                                issuingAuthority: "+919253691365"
                                number: "145480"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00092
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: PIC
                                number: "0"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00091
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: POA
                                issuingAuthority: Government of India (GOI)
                                number: ZMH9676244967
                                type: Z00007
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: POI
                                issuingAuthority: Government of India (GOI)
                                number: ZMH9676244967
                                type: Z00007
                              - aadhaarTransDate: "2023-06-06T09:34:42"
                                id: STP
                                issuingAuthority: "7012142357"
                                number: "676905"
                                type: Z00092
                          channelId: "20"
                          characteristics:
                            - name: CUSTOMER_CATEGORY
                              value: "0001"
                            - name: NATIONALITY
                              value: IN
                            - name: MOBILE_NUMBER
                              value: "+917012142357"
                            - name: EMAIL
                              value: AutETJwhkeUm@hrN.com
                            - name: PARENT_REF_NUMBER
                              value: CO00000CAREJ
                            - name: PARENT_REF_NUMBER
                              value: CO00000CAREN
                            - name: ACTIVATION_DATE_TIME
                              value: "20230606093442"
                            - name: DIGITAL_KYC_CATG
                              value: S
                            - name: STP_GEN_DTM
                              value: "2023-06-06T09:34:05"
                            - name: MERCHANT_STATE
                              value: KL
                            - name: POI_LAT_LONG
                              value: 19.1259275,73.0139004
                            - name: POA_LAT_LONG
                              value: 19.1259275,73.0139004
                            - name: ALT_MOB_RELATION
                              value: "2"
                            - name: ALT_CONTACT_TYPE
                              value: "1"
                            - name: OTP_GEN_DTM
                              value: "2023-06-05T12:00:04"
                            - name: ATP_GEN_DTM
                              value: "2023-06-05T12:00:04"
                            - name: APPROVAL_TYPE
                              value: B
                            - name: FACE_AUTH_RESP
                              value: L
                            - name: CAF_REF_NUM
                              value: KLH000ENAA
                            - name: ROUTING_ZONE
                              value: SO012
                          circleId: KL
                          customerId: "5000043758"
                          eligibleForCancellation: "N"
                          orderEntryTimeStamp: "2023-06-06T09:35:13"
                          orderNumber: "5000192698"
                          orderRefNo: NO00000BBO1F
                          orderScenario: "100"
                          orderStatus: Z05
                          orderType: "13"
                          paymentDetails:
                            instrumentReference: pay_LyVQiEg5vc8Pmo
                            modeOfPayment: "06"
                            totalAmountPayable: "849.00"
                          preferredActivationDate: "2023-06-06T00:00:00"
                          productOffering:
                            - id: "1405323"
                              name: "PRIME + iPhone 799|Benefits: Free Voice,"
                              ewalletReservationRefId: "45967745"
                              lineItemNo: "0000000010"
                              parentLineItemNo: "0000000000"
                              planOffering:
                                - id: "1006469"
                              billingType: "1"
                              product:
                                - id: P10009
                                  name: WIFI Addon|WIFI Hot Spot Access for Conn
                                  status: Z017
                                  lineItemNo: "0000000020"
                                  parentLineItemNo: "0000000010"
                                  bssCorrelationId: "0000000020"
                                  businessInteraction:
                                    name: "11"
                                    componentPrice:
                                      price: "0.00"
                                      id: "4546"
                                  isTelverificationRequired: "0"
                                  teleVerificationStatus: Z111
                                  billingType: "1"
                                  dependencyInfo:
                                    parentProductId: "1405323"
                                  identifier:
                                    - name: R4GID
                                      value: "916186402297"
                                      type: S1
                                      category: "4"
                                      subCategory: "2"
                                      componentPrice:
                                        price: "0.00"
                                        id: "4546"
                                  service:
                                    - id: S10009
                                      name: WIFI Hot Spot Addon|WIFI Hot Spot Addon
                                      serviceType: Z0006
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: R4GID
                                        value: "916186402297"
                                        category: "2"
                                        subCategory: "3"
                                      lineItemNo: "0000000030"
                                      parentLineItemNo: "0000000020"
                                  characteristics:
                                    - name: PROD_CATEGORY
                                      value: "04"
                                    - name: TELE_MARKETING_PREFERENCE
                                      value: "0"
                                    - name: CUSTOMER_CATEGORY
                                      value: "0001"
                                    - name: NATIONALITY
                                      value: IN
                                    - name: MOBILE_NUMBER
                                      value: "+919334562460"
                                    - name: EMAIL
                                      value: AutEzVXSSxJp@QWY.com
                                    - name: ACTIVATION_DATE_TIME
                                      value: "20200901114415"
                                    - name: POI_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: POA_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: TV_PIN
                                      value: "16147"
                                    - name: DIGITAL_KYC_CATG
                                      value: O
                                    - name: ALT_MOB_RELATION
                                      value: "2"
                                    - name: ALT_CONTACT_TYPE
                                      value: "1"
                                    - name: OTP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: ATP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: APPROVAL_TYPE
                                      value: B
                                    - name: FACE_AUTH_RESP
                                      value: L
                                  componentPrice:
                                    - price: "0.00"
                                      id: "4546"
                                - id: P10016
                                  name: Volte-VVM-Data|Volte-VVM-Data
                                  type: "1"
                                  status: Z017
                                  lineItemNo: "0000000060"
                                  parentLineItemNo: "0000000010"
                                  bssCorrelationId: "0000000060"
                                  businessInteraction:
                                    name: "11"
                                    componentPrice:
                                      price: "0.00"
                                      id: "4546"
                                  callingPartyNumber: "7020141499"
                                  isTelverificationRequired: "1"
                                  teleVerificationStatus: Z101
                                  starterKitCode: "N"
                                  billingType: "1"
                                  cafNumber: MHH000CK54
                                  dependencyInfo:
                                    parentProductId: "1405323"
                                  identifier:
                                    - name: MSISDN
                                      value: "7020141499"
                                      type: S1
                                      category: "4"
                                      subCategory: "2"
                                      componentPrice:
                                        price: "0.00"
                                        id: "4546"
                                  service:
                                    - id: S40002
                                      name: Volte-Data|Volte-Data
                                      serviceType: Z0002
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: IMSI
                                        value: "405864888893340"
                                        category: "2"
                                        subCategory: "3"
                                      lineItemNo: "0000000070"
                                      parentLineItemNo: "0000000060"
                                    - id: S40001
                                      name: VVM|Voice Video Messaging
                                      serviceType: Z0003
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: MSISDN
                                        value: "917020141499"
                                        category: "2"
                                        subCategory: "3"
                                      feature:
                                        - id: S30001
                                          name: VOICE
                                          businessInteraction:
                                            name: "11"
                                          lineItemNo: 0000000100_S30001
                                          parentLineItemNo: "0000000100"
                                          feature:
                                            - id: F30001
                                              name: STD
                                              businessInteraction:
                                                name: "11"
                                              lineItemNo: 0000000100_S30001_F30001
                                              parentLineItemNo: 0000000100_S30001
                                      lineItemNo: "0000000100"
                                      parentLineItemNo: "0000000060"
                                  resource:
                                    - id: DEV100022
                                      name: VOLTE SIM|VOLTE SIM
                                      boqType: "9"
                                      lineItemNo: "0000000080"
                                      parentLineItemNo: "0000000060"
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        - name: ICCID
                                          value: "8991864101888893340"
                                        - name: IMSI
                                          value: "405864888893340"
                                      characteristics:
                                        - name: SKU_NUMBER
                                          value: "400000112"
                                  characteristics:
                                    - name: PROD_CATEGORY
                                      value: "01"
                                    - name: TELE_MARKETING_PREFERENCE
                                      value: "0"
                                    - name: CUSTOMER_CATEGORY
                                      value: "0001"
                                    - name: NATIONALITY
                                      value: IN
                                    - name: MOBILE_NUMBER
                                      value: "+919334562460"
                                    - name: EMAIL
                                      value: AutEzVXSSxJp@QWY.com
                                    - name: ACTIVATION_DATE_TIME
                                      value: "20200901114415"
                                    - name: POI_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: POA_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: TV_PIN
                                      value: "16147"
                                    - name: DIGITAL_KYC_CATG
                                      value: O
                                    - name: ALT_MOB_RELATION
                                      value: "2"
                                    - name: ALT_CONTACT_TYPE
                                      value: "1"
                                    - name: OTP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: ATP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: APPROVAL_TYPE
                                      value: B
                                    - name: FACE_AUTH_RESP
                                      value: L
                                  componentPrice:
                                    - id: "4546"
                              characteristics:
                                - name: TELE_MARKETING_PREFERENCE
                                  value: "0"
                          settlementInitiated: "N"
                Return Order details with CAF, Customer details and Plan Offering Details:
                 value:
                    resultStatus:
                      status: SUCCESS
                    customerOrder:
                      order:
                        - account:
                            - accountId: "510000045600"
                              accountType: "1"
                              companyCode: ZS1
                              subscriptionType: "1"
                              billingDetails:
                                billPreference:
                                  language: EN
                                  deliverAt: SHIP_TO
                                  itemized: "true"
                                  presentationMedia:
                                    name:
                                      - "01"
                                autoPayment:
                                  paymentMethod: Credit Card
                          address:
                            - area: Khasra
                              buildingName: Royal Society
                              city: KOZHIKODE
                              country: IN
                              district: KOZHIKODE
                              houseName: "60"
                              id: "0002180449"
                              landmark: New English School
                              pinCode: "670003"
                              state: KL
                              street: Belapur Road
                              type: SHIP_TO
                          cafDetails:
                            agentDetail:
                              name: Ramesh Naik
                            customerDeclarationDate: "2023-06-06"
                            customerDeclarationPlace: KOZHIKODE
                            log: "ActivityName: Self Approved through OTP TimeCompleted: 2023-06-06T09:34:42 "
                            proof:
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: APC
                                number: "0"
                                placeOfIssue: 19.1253839,73.0141285
                                type: Z00091
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: ATP
                                issuingAuthority: "8975387638"
                                number: "157019"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00092
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: OTP
                                issuingAuthority: "+919253691365"
                                number: "145480"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00092
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: PIC
                                number: "0"
                                placeOfIssue: 19.1259275,73.0139004
                                type: Z00091
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: POA
                                issuingAuthority: Government of India (GOI)
                                number: ZMH9676244967
                                type: Z00007
                              - aadhaarTransDate: "2023-06-05T12:00:04"
                                id: POI
                                issuingAuthority: Government of India (GOI)
                                number: ZMH9676244967
                                type: Z00007
                              - aadhaarTransDate: "2023-06-06T09:34:42"
                                id: STP
                                issuingAuthority: "7012142357"
                                number: "676905"
                                type: Z00092
                          channelId: "20"
                          characteristics:
                            - name: CUSTOMER_CATEGORY
                              value: "0001"
                            - name: NATIONALITY
                              value: IN
                            - name: MOBILE_NUMBER
                              value: "+917012142357"
                            - name: EMAIL
                              value: AutETJwhkeUm@hrN.com
                            - name: PARENT_REF_NUMBER
                              value: CO00000CAREJ
                            - name: PARENT_REF_NUMBER
                              value: CO00000CAREN
                            - name: ACTIVATION_DATE_TIME
                              value: "20230606093442"
                            - name: DIGITAL_KYC_CATG
                              value: S
                            - name: STP_GEN_DTM
                              value: "2023-06-06T09:34:05"
                            - name: MERCHANT_STATE
                              value: KL
                            - name: POI_LAT_LONG
                              value: 19.1259275,73.0139004
                            - name: POA_LAT_LONG
                              value: 19.1259275,73.0139004
                            - name: ALT_MOB_RELATION
                              value: "2"
                            - name: ALT_CONTACT_TYPE
                              value: "1"
                            - name: OTP_GEN_DTM
                              value: "2023-06-05T12:00:04"
                            - name: ATP_GEN_DTM
                              value: "2023-06-05T12:00:04"
                            - name: APPROVAL_TYPE
                              value: B
                            - name: FACE_AUTH_RESP
                              value: L
                            - name: CAF_REF_NUM
                              value: KLH000ENAA
                            - name: ROUTING_ZONE
                              value: SO012
                          circleId: KL
                          customer:
                            addresses:
                              - area: Khasra
                                buildingName: Royal Society
                                city: KOZHIKODE
                                country: IN
                                district: KOZHIKODE
                                houseName: "60"
                                id: "0002180182"
                                jioCenterId: I774
                                landmark: New English School
                                pinCode: "670003"
                                state: KL
                                street: Belapur Road
                                type: PER_ADD
                            association:
                              firstName: AutRelFAPOiaLKCCJ
                              relationshipType: "0001"
                            characteristics:
                              - name: SEG_9_VALID_TO
                                value: "20240605"
                              - name: SEG_9_VALID_FM
                                value: "20230606"
                              - name: EKYC_REVERIFICATION
                                value: "01"
                            contactDetails:
                              alternateContactNoWork: "+919253691365"
                              contactNo: "+917012142357"
                              emailId: AutETJwhkeUm@hrN.com
                            customerId: "5000043758"
                            customerName:
                              firstName: AutFZtYPQZcsZE
                              salutation: "0002"
                            customerStatus: CUSA
                            dateOfBirth: "1988-04-20"
                            gender: "2"
                            identifications:
                              - number: P10016
                                type: ZPRDID
                              - expiryDate: "9999-12-31"
                                issueDate: "2023-06-05"
                                number: "4020012559"
                                type: Z00095
                              - expiryDate: "9999-12-31"
                                issueDate: "2023-06-05"
                                number: "2020024398"
                                type: Z00094
                              - expiryDate: "9999-12-31"
                                issueDate: "2023-06-06"
                                number: Z00095
                                type: Z00100
                            nationality: IN
                            organization: {}
                            preferredLanguage: EN
                            segment:
                              - name: CUSTOMER_CATEGORY
                                value: "0001"
                              - name: "21"
                                value: "036001"
                              - name: "15"
                                value: "040001"
                              - name: "26"
                                value: "042001"
                              - name: "9"
                                value: "025001"
                          customerId: "5000043758"
                          eligibleForCancellation: "N"
                          orderEntryTimeStamp: "2023-06-06T09:35:13"
                          orderNumber: "5000192698"
                          orderRefNo: NO00000BBO1F
                          orderScenario: "100"
                          orderStatus: Z05
                          orderType: "13"
                          paymentDetails:
                            instrumentReference: pay_LyVQiEg5vc8Pmo
                            modeOfPayment: "06"
                            totalAmountPayable: "849.00"
                          preferredActivationDate: "2023-06-06T00:00:00"
                          productOffering:
                            - id: "1405323"
                              name: "PRIME + iPhone 799|Benefits: Free Voice,"
                              ewalletReservationRefId: "45967745"
                              lineItemNo: "0000000010"
                              parentLineItemNo: "0000000000"
                              planOffering:
                                - id: "1006469"
                              billingType: "1"
                              product:
                                - id: P10009
                                  name: WIFI Addon|WIFI Hot Spot Access for Conn
                                  status: Z017
                                  lineItemNo: "0000000020"
                                  parentLineItemNo: "0000000010"
                                  bssCorrelationId: "0000000020"
                                  businessInteraction:
                                    name: "11"
                                    componentPrice:
                                      price: "0.00"
                                      id: "4546"
                                  isTelverificationRequired: "0"
                                  teleVerificationStatus: Z111
                                  billingType: "1"
                                  dependencyInfo:
                                    parentProductId: "1405323"
                                  identifier:
                                    - name: R4GID
                                      value: "916186402297"
                                      type: S1
                                      category: "4"
                                      subCategory: "2"
                                      componentPrice:
                                        price: "0.00"
                                        id: "4546"
                                  service:
                                    - id: S10009
                                      name: WIFI Hot Spot Addon|WIFI Hot Spot Addon
                                      serviceType: Z0006
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: R4GID
                                        value: "916186402297"
                                        category: "2"
                                        subCategory: "3"
                                      lineItemNo: "0000000030"
                                      parentLineItemNo: "0000000020"
                                  characteristics:
                                    - name: PROD_CATEGORY
                                      value: "04"
                                    - name: TELE_MARKETING_PREFERENCE
                                      value: "0"
                                    - name: CUSTOMER_CATEGORY
                                      value: "0001"
                                    - name: NATIONALITY
                                      value: IN
                                    - name: MOBILE_NUMBER
                                      value: "+919334562460"
                                    - name: EMAIL
                                      value: AutEzVXSSxJp@QWY.com
                                    - name: ACTIVATION_DATE_TIME
                                      value: "20200901114415"
                                    - name: POI_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: POA_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: TV_PIN
                                      value: "16147"
                                    - name: DIGITAL_KYC_CATG
                                      value: O
                                    - name: ALT_MOB_RELATION
                                      value: "2"
                                    - name: ALT_CONTACT_TYPE
                                      value: "1"
                                    - name: OTP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: ATP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: APPROVAL_TYPE
                                      value: B
                                    - name: FACE_AUTH_RESP
                                      value: L
                                  componentPrice:
                                    - price: "0.00"
                                      id: "4546"
                                - id: P10016
                                  name: Volte-VVM-Data|Volte-VVM-Data
                                  type: "1"
                                  status: Z017
                                  lineItemNo: "0000000060"
                                  parentLineItemNo: "0000000010"
                                  bssCorrelationId: "0000000060"
                                  businessInteraction:
                                    name: "11"
                                    componentPrice:
                                      price: "0.00"
                                      id: "4546"
                                  callingPartyNumber: "7020141499"
                                  isTelverificationRequired: "1"
                                  teleVerificationStatus: Z101
                                  starterKitCode: "N"
                                  billingType: "1"
                                  cafNumber: MHH000CK54
                                  dependencyInfo:
                                    parentProductId: "1405323"
                                  identifier:
                                    - name: MSISDN
                                      value: "7020141499"
                                      type: S1
                                      category: "4"
                                      subCategory: "2"
                                      componentPrice:
                                        price: "0.00"
                                        id: "4546"
                                  service:
                                    - id: S40002
                                      name: Volte-Data|Volte-Data
                                      serviceType: Z0002
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: IMSI
                                        value: "405864888893340"
                                        category: "2"
                                        subCategory: "3"
                                      lineItemNo: "0000000070"
                                      parentLineItemNo: "0000000060"
                                    - id: S40001
                                      name: VVM|Voice Video Messaging
                                      serviceType: Z0003
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        name: MSISDN
                                        value: "917020141499"
                                        category: "2"
                                        subCategory: "3"
                                      feature:
                                        - id: S30001
                                          name: VOICE
                                          businessInteraction:
                                            name: "11"
                                          lineItemNo: 0000000100_S30001
                                          parentLineItemNo: "0000000100"
                                          feature:
                                            - id: F30001
                                              name: STD
                                              businessInteraction:
                                                name: "11"
                                              lineItemNo: 0000000100_S30001_F30001
                                              parentLineItemNo: 0000000100_S30001
                                      lineItemNo: "0000000100"
                                      parentLineItemNo: "0000000060"
                                  resource:
                                    - id: DEV100022
                                      name: VOLTE SIM|VOLTE SIM
                                      boqType: "9"
                                      lineItemNo: "0000000080"
                                      parentLineItemNo: "0000000060"
                                      businessInteraction:
                                        name: "11"
                                      identifier:
                                        - name: ICCID
                                          value: "8991864101888893340"
                                        - name: IMSI
                                          value: "405864888893340"
                                      characteristics:
                                        - name: SKU_NUMBER
                                          value: "400000112"
                                  characteristics:
                                    - name: PROD_CATEGORY
                                      value: "01"
                                    - name: TELE_MARKETING_PREFERENCE
                                      value: "0"
                                    - name: CUSTOMER_CATEGORY
                                      value: "0001"
                                    - name: NATIONALITY
                                      value: IN
                                    - name: MOBILE_NUMBER
                                      value: "+919334562460"
                                    - name: EMAIL
                                      value: AutEzVXSSxJp@QWY.com
                                    - name: ACTIVATION_DATE_TIME
                                      value: "20200901114415"
                                    - name: POI_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: POA_LAT_LONG
                                      value: "19.1259275,73.0139004"
                                    - name: TV_PIN
                                      value: "16147"
                                    - name: DIGITAL_KYC_CATG
                                      value: O
                                    - name: ALT_MOB_RELATION
                                      value: "2"
                                    - name: ALT_CONTACT_TYPE
                                      value: "1"
                                    - name: OTP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: ATP_GEN_DTM
                                      value: "2020-09-01T11:39:14.0000000+00:00"
                                    - name: APPROVAL_TYPE
                                      value: B
                                    - name: FACE_AUTH_RESP
                                      value: L
                                  componentPrice:
                                    - id: "4546"
                              characteristics:
                                - name: TELE_MARKETING_PREFERENCE
                                  value: "0"
                          settlementInitiated: "N"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonErrorResponse"
              example:
                resultStatus:
                  status: FAILED
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonErrorResponse'
              example:
                resultStatus:
                  status: FAILED
                  errorCode: '401'
                  errorMessage: Unauthorized
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonErrorResponse"
              example:
                resultStatus:
                  status: FAILED
components:
  schemas:
    FindOrderRequest:
      required:
        - customerId
        - paging
      type: object
      properties:
        customerId:
          type: string
          description: Customer Id
          example: "1000038442"
        serviceId:
          type: string
          description: Customer Service Id
          example: ""
        registeredMobileNumber:
          type: string
          description: Registered Mobile Number of Customr
          example: ""
        corporateOrderRefNo:
          type: string
          description: Corporate Order Reference Number
        corporateCustomerId:
          type: string
          description: Coporate Customer Id
[...]
